@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
  }

body {
    line-height:1.4em;
}

h1, h2, h3, h4, blockquote, q, .maia-nav ul {
    font-family: 'open sans',arial,sans-serif;
}

h1 {
    font-size:1.85em;
    margin-bottom:0.3em;
}

h2 {
    font-size:1.1em;
    font-weight:200;
    padding:0.1em 0;
}

h3 {
    font-weight:300;
}

sup {
    font-size: smaller;
}

@media (min-width:662px){

    h1 {
        font-size:2.6em;
        padding:0.1em 0;
    }
    h2 {
        font-size:1.4em;
        font-weight:200;
    }
}

@media (min-width:962px){
    h1 {
        font-size:3.2em;
        padding:0.2em 0;
    }
    h2 {
        font-size:1.6em;
        font-weight:200;
        padding:0.1em 0;
    }
}