#main-footer {
    background-color: #f5f5f7;
    width:100%;
    padding: 1% 2%;
    margin-top: 12px;
    padding-bottom: 30px;
}

#main-footer p{
    font-size:12px;
    color:#86868b;
    -webkit-font-smoothing: antialiased;
    line-height:1.33337;
    padding-bottom:10px;
    text-decoration: none;
}

#main-footer div {
    font-size:12px;
    color:#86868b;
    line-height:1.33337;
}

.column-section-title{
    font-size:12px;
    color:#333333;
    -webkit-font-smoothing: antialiased;
    line-height:1.4em;
    padding:5px 0;
    font-weight: 600;
}

.column-section {
    padding-top:15px;
}

#main-footer hr{
    background-color: #d2d2d7;
    color:#d2d2d7;
    margin:8px 0;
    border: none;
    height: 0.5px;
}

#main-footer ul {
    list-style:none;
}

#main-footer li {
    padding:3px 0;
}

#main-footer a {
    font-size:12px;
    color:#86868b;
    -webkit-font-smoothing: antialiased;
    line-height:1.4em;
    text-decoration: none;
}

#main-footer a:hover {
    text-decoration: underline;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
}

.footer-column div:first-child {
    padding-top:0;
}

.footer-columns div {
    display:block;
}

#bottom-footer a {
    color:#06c;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.footer-left {
    overflow:auto;
}

.footer-left-1 {
    padding-top:8px;
}

#copyright div {
    display:inline-block;
    margin-top: 5px;
    margin-right: 30px;
    margin:5px 0;
}

#copyright .footer-legal-link {
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    display: inline;
    white-space: nowrap;
    color: #333333;
    
}

#bottom-footer hr {
    margin:8px 0;
}

#bottom-footer p {
    padding:0;
}

#bottom-footer div {
    font-size:12px;
    color:#86868b;
    -webkit-font-smoothing: antialiased;
    line-height:1.33337;
    text-decoration: none;
}

#location {
    float: right;
    margin:5px 0;
}

#location img {
    vertical-align: middle;
}

#location a {
    color:#333333;
}

.location-icon {
    height:15px;
    width:auto;
}

@media screen and (max-width:767px) {
    #bottom-footer div {
        display:block;
        width:100%;
    }
    #location {
        margin:15px 0;
    }
    #bottom-footer hr {
        display:none;
    }
    .footer-columns {
        display:block;
    }
    .column-section-list {
        display:none;
    }

    .column-section {
        position: relative;
        border-bottom: 1px solid #d2d2d7;
        overflow: hidden;
        padding-top:0;
        pointer-events: auto;
    }

    .column-section-title {
        padding-top:10px;
        padding-bottom:10px;
        font-weight:400;
        color:#333;
        width:100%;
    }

    .column-section-title:hover{
        cursor: pointer;
    }

    .column-section-title:after {
        content: '+';
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        -webkit-transition: -webkit-transform .3s ease;
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
    }
}