*{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;  
    box-sizing:border-box;  
}

body {
    width:100%;
    color:#fff;
    background: #fff;
}

.container {
    width:100%;
    margin:auto;
    overflow:hidden;
}

@media screen and (min-width:1024px)  {
    .container {
        width:1024px;
    }
}

#navbar {
    background:rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    user-select: none;
    z-index: 9999;
    margin: 0;
    height:42px;
}

#navbar-full {
    height:42px;
    width:100%;
    padding:0;
    text-align:center;
    display:inline-flex;
    justify-content: space-between;
    align-items:center;
    transition: 0.36s;
}

#navbar-mobile {
    height:42px;
    width:100%;
    padding:0;
    text-align:center;
    display:none;
    position:fixed;
    z-index: 9999;
    justify-content: space-between;
    align-items:center;
    transition: 0.36s;
}

.nav-active {
    background: #000;
    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

#navbar li {
    list-style: none;
    display:inline;
}

#navbar img {
    vertical-align: middle;
    width:15px;
    height:15px;
    margin:5 px;
    display:inline-block;
}

#navbar-full a {
    text-decoration:none;
    color:#e2e2e2;
    padding:0 10px;
    font-size:12px;
    display:inline-block;
    transition:0.3s;
}

#navbar-mobile a {
    text-decoration:none;
    color:#e2e2e2;
    padding:0 10px;
    font-size:12px;
    display:inline-block;
    transition:0.3s;
}

.icon {
    position:relative;
    width:30px;
    height:30px;
    cursor:pointer;
}

.hamburger {
    width:15px;
    height:1px;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    transition:0.3s;
    background:#e2e2e2;
}

.hamburger:before {
    content:'';
    position:absolute;
    width:15px;
    transform:translate(0%, -50%);
    height:1px;
    background:#e2e2e2;
    transition:0.3s;
    top:6px;
}

.icon.menu-active .hamburger {
    top:15px;
    left:5px;
    transform:rotate(45deg);
}

.icon.menu-active .hamburger:before {
    top:0px;
    left:0px;
    transform:rotate(-90deg);
}

#navbar a:hover {
    color:#fff;
}

#navbar img {
    filter: #d6d6d5;
    -webkit-filter: grayscale(100%);
}

#navbar img:hover {
    filter:none;
    -webkit-filter: grayscale(0%);
}

#notification-bar {
    position:relative;
    display:block;
    margin-top:42px;
    text-align:center;
    width:100%;
    font-size: 12px;
    line-height:1.4em;
}

#notification-bar div {
    padding:12px;
    width:100%;
}

#covid-bar {
    background-color:#0071E3;
    color:#fff;
}

#covid-bar a{
    color:#fff;
}

#support-bar {
    background-color:#fff;
    color:#666666;
}

#support-bar a{
    color:#06c;
}

#notification-bar a {
    text-decoration:none;
}

#notification-bar a:hover {
    text-decoration: underline;
}

.lock-scroll {
    overflow-y:scroll;
    position:fixed;
}

.menu-clicked {
    display:none;
    background-color:black;
    height:0;
    width:100%;
    position:absolute;
    top:42px;
    z-index:990;
    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.menu-visible{
    position:fixed;
    height:100vh;
    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.dropdown-content {
    display:block;
    width: 100%;
    position:fixed;
    visibility:hidden;
    transition-delay: 2s;
}

.dropdown-content hr {
    color:#333;
}

.dropdown-content a {
    display:block;
    text-decoration:none;
    color:#e2e2e2;
    padding:0 10px;
    width:auto;
    height:auto;
    padding-top:5px;
    padding-bottom:5px;
    font-family: 'open sans',arial,sans-serif;
    font-size:16px;
    font-weight:300;
    line-height: 1.4em;
    border-bottom: 0.5px solid #333;
}

.dropdown-anim {
    visibility:visible;
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

/* .dropdown-ipad {
    transition: opacity .32244s cubic-bezier(0.32, 0.08, 0.24, 1) .05s,transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s,-webkit-transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s;
}

.dropdown-iphone {
    transition: opacity .33467s cubic-bezier(0.32, 0.08, 0.24, 1) .07s,transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s,-webkit-transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s;
}

.dropdown-watch {
    transition: opacity .34577s cubic-bezier(0.32, 0.08, 0.24, 1) .09s,transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s,-webkit-transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s;
}
.dropdown-tv {
    transition: opacity .35577s cubic-bezier(0.32, 0.08, 0.24, 1) .11s,transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s,-webkit-transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s;
}

.dropdown-music {
    transition: opacity .36464s cubic-bezier(0.32, 0.08, 0.24, 1) .13s,transform .45318s cubic-bezier(0.32, 0.08, 0.24, 1) .12s,-webkit-transform .45318s cubic-bezier(0.32, 0.08, 0.24, 1) .12s;
}

.dropdown-support {
    transition: opacity .3724s cubic-bezier(0.32, 0.08, 0.24, 1) .15s,transform .4879s cubic-bezier(0.32, 0.08, 0.24, 1) .14s,-webkit-transform .4879s cubic-bezier(0.32, 0.08, 0.24, 1) .14s;
}
 */
.dropdown-options{
    position:fixed;
    width:90%;
    left:5%;
}

.dropdown-content li {
    text-decoration: none;
}

.searchbar {
    position:relative;
    padding-bottom:8px;
    padding-top:8px;
    height:auto;
    padding-left:30px;
    width:95%;
    max-width:580px;
    left:2.5%;
    background-color:#222;
    color:#fff;
    border-radius:10px;
    border:none;
    border-style:solid;
    border-color: transparent;
    margin-top:10px;
    margin-bottom:10px;
}

.search-container ::placeholder {
    color:#6e6e73;
    font-size:16px;
    font-weight:300;
}

.search-placeholder-icon {
    position: absolute;
    left: 3%;
    top: 10.5px;
    width: 29px;
    height: 2.11765em;
    background-position: left 8px center;
    opacity: .8;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-image: url(/images/search.png);
}

.search-container input {
    font-size:16px;
}

input:focus {
    outline-width: 0;
}

.last-menu{
    border-bottom:none;
}



@media screen and (max-width:795px){
    #navbar-full {
        display:none;
    }
    #navbar-mobile, .menu-clicked {
        display:flex;
    }
}

@media screen and (min-resolution:200) and (max-width:1242px) {
    #navbar-full {
        display:none;
    }
    #navbar-mobile, .menu-clicked {
        display:flex;
    }
}