*{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;  
    box-sizing:border-box;  
}

body {
    width:100%;
    color:#fff;
    background: #fff;
}

.container {
    width:100%;
    margin:auto;
    overflow:hidden;
}

@media screen and (min-width:1024px)  {
    .container {
        width:1024px;
    }
}

#navbar {
    background:rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    user-select: none;
    z-index: 9999;
    margin: 0;
    height:42px;
}

#navbar-full {
    height:42px;
    width:100%;
    padding:0;
    text-align:center;
    display:inline-flex;
    justify-content: space-between;
    align-items:center;
}

#navbar-mobile {
    height:42px;
    width:100%;
    padding:0;
    text-align:center;
    display:none;
    justify-content: space-between;
    align-items:center;
}

#navbar li {
    list-style: none;
    display:inline;
}

#navbar img {
    vertical-align: middle;
    width:15px;
    height:15px;
    margin:5 px;
    display:inline-block;
}

#navbar a {
    text-decoration:none;
    color:#e2e2e2;
    padding:0 10px;
    font-size:12px;
    display:inline-block;
    transition:0.3s;
}

.icon {
    position:relative;
    width:30px;
    height:30px;
    cursor:pointer;
}

.hamburger {
    width:15px;
    height:1px;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    transition:0.3s;
    background:#e2e2e2;
}

.hamburger:before {
    content:'';
    position:absolute;
    width:15px;
    transform:translate(0%, -50%);
    height:1px;
    background:#e2e2e2;
    transition:0.3s;
    top:6px;
}

.icon.menu-active .hamburger {
    top:15px;
    left:5px;
    transform:rotate(45deg);
}

.icon.menu-active .hamburger:before {
    top:0px;
    left:0px;
    transform:rotate(-90deg);
}

@media screen and (max-width:795px){
    #navbar-full {
        display:none;
    }
    #navbar-mobile {
        display:flex;
    }
}

@media screen and (min-resolution:200) and (max-width:1242px) {
    #navbar-full {
        display:none;
    }
    #navbar-mobile {
        display:flex;
    }
}

#navbar a:hover {
    color:#fff;
}

#navbar img {
    filter: #d6d6d5;
    -webkit-filter: grayscale(100%);
}

#navbar img:hover {
    filter:none;
    -webkit-filter: grayscale(0%);
}

#notification-bar {
    position:relative;
    display:block;
    margin-top:42px;
    text-align:center;
    width:100%;
    font-size: 12px;
    line-height:1.4em;
}

#notification-bar div {
    padding:12px;
    width:100%;
}

#covid-bar {
    background-color:#0071E3;
    color:#fff;
}

#covid-bar a{
    color:#fff;
}

#support-bar {
    background-color:#fff;
    color:#666666;
}

#support-bar a{
    color:#06c;
}

#notification-bar a {
    text-decoration:none;
}

#notification-bar a:hover {
    text-decoration: underline;
}

.lock-scroll {
    overflow-y:scroll;
    position:fixed;
}

.menu-clicked {
    background-color:black;
    height:100vh;
    width:100%;
    position:absolute;
    top:0;
    display:none;
}

.menu-visible{
    display:block;
}