.main {
    position:relative;
}

p {
    font-size:0.9rem;
}

@media screen and (min-width:992px) {
    section .container-fluid {
    max-width: 80%;
    position:relative;
    left:10%;
    }
}

.row {
    display: flex;
    align-items: center;
}

.navbar img {
    height:24px;
    width:24px;
}

.intro-section .row {
    margin-top:100px;
}

.selfie {
    padding-top:30px;
    padding-bottom:30px;
}

.skill-img {
    max-width:100px;
    height:auto;
    padding-top:10px;
    padding-bottom:20px;
}

.skills-section hr, .project-section hr, .experience-section hr {
    max-width:500px;
}

.skills-section h3 {
    margin-bottom:20px;
    border-bottom:1px #333;
}

[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}
  
[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] hr {
    background-color: #eee !important;
}

[data-theme="dark"] .certification-section {
    color: #eee !important;
    background-color: #444 !important;
}

[data-theme="dark"] .tecore-logo{
    content:url('/images/tecore-logo-white.png');
}

[data-theme="dark"] .pt-logo{
    content:url('/images/pt-logo-white.png');
}

.custom-switch {
    padding-left:3rem;
}

.skills-section p {
    line-height:1.2;
}

.certification-section {
    padding-top:40px;
    padding-bottom:40px;
    background-color:#ececec;
}

.certification-section h2 {
    padding-top:20px;
    padding-bottom:20px;
}
section {
    margin-top:40px;
    margin-bottom:40px;
}

.skills-section div div {
    margin-bottom:20px;
}

.google-cert::before{
    content: "";
    background-image:url('/images/google-icon.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    margin-right:10px;
}

.hubspot-cert::before{
    content: "";
    background-image:url('/images/hubspot-icon.png');
    background-size: 20px 20px;
    display: inline-block; 
    width: 20px; 
    height: 20px;
    margin-right:10px;
}

@media screen and (max-width:1600px){
    .carousel-caption p{
        font-size:12px;
    }

    .carousel-caption h5{
        font-size:16px;
    }
}

.project-section li p, .experience-section li p {
    margin-bottom:5px;
}

.pt-logo, .tecore-logo, .experience-section>div {
    margin-top:10px;
    margin-bottom:20px;
}