html {
    scroll-behavior: smooth;
}

.main {
    position:relative;
}

#navbar9 > ul > li.nav-item > a {
    color: rgba(255,255,255,1);
}

p {
    font-size:0.9rem;
}

.cert-row {
    text-align:center !important;
}

.cert-row a {
    text-decoration:none;
    color:#212529;
}

.cert-row a:hover {
    font-weight:600;
}

.navbar img {
    height:24px;
    width:24px;
}

.intro-section .row {
    margin-top:100px;
}

.selfie {
    padding-top:30px;
    padding-bottom:30px;
}

.active a {
    font-weight:600;
    color: rgba(255,255,255,1);
    }

#navbar9 > ul > li.nav-item > a:hover {
    font-weight:600;
    color: rgba(255,255,255,1);
    }

.skill-img {
    max-width:100px;
    height:auto;
    padding-top:10px;
    padding-bottom:20px;
}

.skills-section hr, .project-section hr, .experience-section hr {
    max-width:500px;
}

.skills-section h3 {
    margin-bottom:20px;
    border-bottom:1px #333;
}

[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}
  
[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] hr {
    background-color: #eee !important;
}

[data-theme="dark"] .certification-section {
    color: #eee !important;
    background-color: #444 !important;
}

[data-theme="dark"] .nav-link {
    color: #eee !important;
}

[data-theme="dark"] .tecore-logo{
    content:url('/images/tecore-logo-white.png');
}

[data-theme="dark"] .pt-logo{
    content:url('/images/pt-logo-white.png');
}

[data-theme="dark"] .apple-logo{
    content:url('/images/logos/logo-white.png');
    width:100px;
    height:auto;
}

[data-theme="dark"] .cert-row a{
    color: #eee;
}

.skills-section p {
    line-height:1.2;
}

.certification-section {
    background-color:#ececec;
}

.certification-section h2 {
    padding-top:20px;
    padding-bottom:20px;
}

section {
    padding-top: 40px;
    padding-bottom:40px;
}

.skills-section div div {
    margin-bottom:20px;
}

.google-cert::before{
    content: "";
    background-image:url('/images/google-icon.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    margin-right:10px;
}

.hubspot-cert::before{
    content: "";
    background-image:url('/images/hubspot-icon.png');
    background-size: 20px 20px;
    display: inline-block; 
    width: 20px; 
    height: 20px;
    margin-right:10px;
}

.project-section li p, .experience-section li p {
    margin-bottom:5px;
}

.pt-logo, .tecore-logo, .experience-section>div {
    margin-top:10px;
    margin-bottom:20px;
}

.carousel-caption {
    opacity:0;
}

section .carousel-item:hover::after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
}

.carousel-item:hover .carousel-caption{
    opacity:1;
}

.carousel {
    padding-top:10px;
    padding-bottom:10px;
}

.social-link img {
    height:40px;
    widows: auto;
    padding-left:10px;
    padding-right:10px;
}

.social-link-row {
    padding-top:30px;
    padding-bottom:20px;
}

section:before {
    height: 54px;
    content: "";
    display:block;
}

@media (min-width:845px) {
    .cert-row {
        text-align:left !important;
    }
}

@media screen and (max-width:845px) {
    section h3 {
        text-align:center;
        padding-top:30px;
        padding-bottom:10px;
    }
    .project-section .col-md-6 hr {
        display:none;
    }
    
}

@media screen and (max-width:1600px){
    .carousel-caption p{
        font-size:12px;
    }

    .carousel-caption h5{
        font-size:16px;
    }
}

@media screen and (min-width:992px) {
    .row {
    width: 90%;
    position:relative;
    left:5%;
    right:5%;
    }
    .custom-switch {
        padding-left:3rem;
    }
}

@media screen and (max-width:600px) {
    .certification-section div {
        padding-left:20px;
        padding-right:20px;
    }

}



    @media (min-width: 768px) {
        .carousel-onebyone .carousel-inner .carousel-item{
            margin-right: initial;
        }
        
        /* show 3 items */
        .carousel-inner .active,
        .carousel-inner .active + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
            display: block;
        }
        
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
            transition: none;
        }
        
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
          position: relative;
          transform: translate3d(0, 0, 0);
        }
        
        .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -25%;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        
        /* left or forward direction */
        .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        
        /* farthest right hidden item must be abso position for animations */
        .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        
        /* right or prev direction */
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    }

footer .row {
    left:0;
    right:0;
}